* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


body {
    background-color: #31b0b1;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.main {
    background-color: azure;
    width: 90vw;
    height: 90vh;
    border-radius: 10px;
}

.nav-div {
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

.buttons {
    margin: 10px;
}

.button-left {
    margin-left:10px ;
}

button {
    width: 7em;
    height: 2em;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    background-color: azure;
}

button:hover {
    background-color: rgb(230, 250, 250);
}

h2 {
    margin-top: 3em;
    margin-left: 10px;
    font-size: 2em;
}

.pages {
     display: flex;
    flex-wrap: wrap;
     gap: 20px;
    align-items: center;
    justify-content: center; 
    margin-top: 50px;  
}

.page {
    height: 170px;
    width: 400px;
    background-color: aliceblue;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.name {
    margin-top: 10px;
}

.title {
    font-size: 1.2em;
    margin-top: 20px;
}

.summary {
    margin-top: 10px;
    font-size: 0.8em;
    margin-left: 5px;
    margin-top: 20px;
}

.top {
    display: flex;
}

.image {
    width: 100PX;
    height: 70PX;
    margin: 5px;
    border-radius: 5px;
}

.pages-main {
    display: none;
}

 .page1 {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-left: 90px;
    margin-top: 50px;
    /* align-items: center; */
    
  
} 


.header {
    background-color: #007d7f;
    height: 100px;
    border-top-left-radius:15px;
    border-top-right-radius: 15px;
    /* margin-left: 150px; */

    /* position: relative;
    left: 80px;
    top: 50px; */
    
}

.background {
    margin-top: 40px;
    width: 100%;
    height:150px;
    border-radius: 10px;
}

.title-page {
    text-align: center;
    margin-top: 10px;
}


.bord {
    display: none;
}

.active {
    display: block;
}

.container-story {
    background-color: antiquewhite;
    height: 70vh;
    width: 80vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title-story {
    font-size: 3em;
    position: relative;
    bottom:80px;
}

.title-text {
    font-size: 20px;
}

form {
    position: relative;
    bottom: 50px;
}
.input-title {
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 5px;
    outline: none;
}

.input-title:hover {
    border: 1px solid  #31b0b1;
}

.fild {
    margin-left: 40px;
}

.input-text {
    width: 100%;
    height: 30vh;
    border: none;
    border-radius: 5px;
    outline: none;
}

.input-text:hover {
    border: 1px solid  #31b0b1;
}

.btn-send {
    width: 50px;
    height: 30px;
    border: none;
    border-radius: 5px;
    outline: none;
    background-color: #31b0b1;
    color: aliceblue;
}

.btn-send:hover {
    border: 1px solid  #ced8d8;
    cursor: pointer;
}
    


